
/* Some Default WordPress Styles to kick us off */

.alignnone {
    
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 0 0 1em 1em;
}

.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}

a img.alignright {
    float: right;
    margin:0 0 1em 1em;
}

a img.alignnone {
    margin: 0 1em;
}

a img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {

}

.wp-caption.alignnone {

}

.wp-caption.alignleft {

}

.wp-caption.alignright {

}

.wp-caption img {

}

.wp-caption p.wp-caption-text {

}

// add some extra margin to ul
ul {
	margin-#{$default-float}: $list-side-margin;
}
