article.event.list {
  border: 1px solid #000;
  margin-bottom: 0.5rem;
  padding: 0.5rem
  
  h3, h4, p {
    margin: 0;
  }
  
}

.main-content-blue {
  text-align: center;
  h3 {
    color: white;
  }
  form {
    button.small {
      padding-top: 0.8rem;
      padding-bottom: 0.4rem;
      background: #000;
    }
  }
}

figure {
  width:100%;
  position: relative;
  margin-bottom: 0.5rem;
  figcaption {
    font-family: $header-font-family;
    text-transform: uppercase;
    width:100%;
    position: absolute;
    bottom:0;
    text-align: center;
    line-height: 1.5em;
    color: white;
    padding: 5px 10px;
    background: rgba(black,0.8);
  }
}

.event-details {
  text-transform: uppercase;
}