footer.main-footer {
  font-family: $body-font-family;
  padding: 2em 0;
  color:#efefef;
  h5, h4 {
    font-family: $header-font-family;
    color: #efefef;
    line-height: 1em;
    margin: 0 0 5px 0;
    padding: 0;
  }
  
  .footerWhite {
    background: white;
    color: #000;
    padding: 1em;
    margin: 1em 0;
    h4 {
      color: #000;
    }
  }
  
  
  ul {
    margin-left: 0;
    li {
      a {
        color: #efefef;
        &:hover {
          color:#ccc;
        }
      }
    }
  } 
  
  .fb-share-button {
    margin-bottom: 5px;
  }

  .right {
    text-align: right;
  }
  
}

