.featured-info {
  background: #efefef;
    padding: 0.9375rem 0;
  .date-text {
    h2 {
      font-size: 26px;
      margin-bottom: 0;
      line-height: 1em;
    }
    h3 {
      font-family: $body-font-family;
      margin-top: 0;
      font-size: 18px;
      font-weight: 300;
    }
  }
  
  .white-bg {
    background: white;
    padding:5px 2px;
    margin-bottom: 0.9375rem;
  }
  
  ul.small-block-grid-4.genre-list {
    
    padding: 0.5rem 0 0 0;
    
    > li {
      padding-bottom: 0;
      a {
        font-size: 12px;
      }
    }
    @media #{$medium-up} { 
      padding: 0.5rem 0 0 1rem;
      > li a {    
         font-size: 16px;
        }
    }
  }  
  

  
  .social {
    padding-top: 1em;
    a.social-icon {
      position: relative;
      width: 47px;
      height: 47px;
      display: inline-block;
      overflow: hidden;
      text-indent: -9999px;
      margin-right: 3px;
      &.facebook {
        background: url('../img/social-icons.png') no-repeat 0 0;
      }
      
      &.twitter {
        background: url('../img/social-icons.png') no-repeat -58px 0;
      }
      
      &.instagram {
        background: url('../img/social-icons.png') no-repeat -116px 0;
      }
      
      &.youtube {
        background: url('../img/social-icons.png') no-repeat -174px 0;
      }
      
      &.gplus {
        background: url('../img/social-icons.png') no-repeat -232px 0;
      }
     &:hover, &:focus {
       top:1px;
     } 
    }
  }
  
}

#countdown {
  display: block;
  @include clearfix;
}

.countdown_amount {
  display: inline-block;
  background: $wn-blue;
  font-family: $header-font-family;
  margin-bottom: 0px;
  min-width: 70px;
}

