#header-menu {
  z-index: 99999999;
}



.contain-to-grid {
  background: none;
}

nav.top-bar {
 z-index: 100000 !important;
}

.full-menu, .mobile-menu {
  display:table;
  width:100%;
  height: 100px;
  
  .logo, .menu-buttons, .search {
    display:table-cell;
    text-align: center;
    font-size: 36px;
    font-family: $header-font-family;
    text-transform: uppercase;
  }
  
  .logo, .search {
    width:100px;
    img {
      padding: 0;
      margin: 0;
    }
  }
  
/*
  .search {
     a:after {
          font-family: 'wn';
          content: "\e600";
          font-size: 1.2em;
          position: absolute;
          right:5px;
          top:0;
          color: white;
        }
  }
*/
  
  
  .logo {
   // background: tomato;
    a {
      position: absolute;
      top:0;
      left:7px;
      width: 88px;
      height: 87px;
    }
  }

 

  .menu-buttons {
   // background: skyblue;
    > ul {
      max-height: 100px;
      margin: 0;
      padding: 0;
      > li {
        width:33.3%;
        float: left;
        margin: 0;
        padding: 0;
        position: relative;
        > a {
          text-decoration: none;
          width: 100%;
          display: inline-block;
          color: white;
          font-size: 36px;
          font-family: $header-font-family;
          padding: 23px 0 20px;
          border-left: 1px solid #333;
                  
          &:hover, &.open {
            background: white;
            color: #000;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
          }
          
          
          &#menu-full-my-night {
            padding: 30px 0 26px;
            line-height: 1.8rem;
            
            .small {
              font-size: 12px;
              display: block;
              line-height:1rem;
            }
            &.open {
            }
            
          }
          
          @media(max-width:950px) {
            padding: 28px 0 24px;
            font-size: 30px;
            &#menu-full-my-night {
              padding: 32px 0 24px;
            }
          }
          @media(max-width:825px) {
            padding: 34px 0 28px;
            font-size: 24px;
            &#menu-full-my-night {
              padding: 33px 0 23px;
            }
          }
        }
        .sub-menu {
          display: none;
          border: 1px solid #000;
          border-top: none;
          padding:10px;
          position: absolute;
          top: 100px;
          left: 0;
          background: white;
          font-size: 12px;
          @include clearfix;
          min-width: 267px;
          text-align: left;
          &.my-night-dropdown {
            width:400px;
            
            input {
              margin-bottom: 5px;
            }
            
          }
          
          
          ul {
            font-size: 12px;
            margin-left: 0;
            margin-bottom: 5px;
            li {
              display: block;
              margin: 0;
              a {
                font-family: $body-font-family;
                font-size: 12px;
                b {
                  font-family: $header-font-family;
                }
              }
            }
          }
          
          ul.small-menu {
            font-family: $body-font-family;
            text-transform: none;
            margin-top: 10px;
            li {
              line-height: 1.1em;
              margin-bottom: 5px;
            }
          }
          
          a {
            color: #000;
            font-size: 12px;
          }
          .left {
            width: 60%;
            float: left;
          }
          .right {
            width: 40%;
            float: left;
          }

        }
      }
    }
    &.search > ul > li {
    width:100%;
    height: 100px;
    position: relative;
     > a {
      display: block !important;
      width:100px !important;
      max-height: 100px;
      text-align: center;
      }
      
      .sub-menu {
        right:0;
        left:auto;
        label {
          margin-bottom: 0;
        }
        
        button {
          margin-bottom: 5px;
        }
      }
    }
  }
  
  .search {
   // background: orange;
  }

}

.mobile-menu {
  .menu-buttons {
    > ul {
      > li {
        position: static;
        width:100%;
        height: 100px;
        overflow: hidden;
        >a {
          padding: 24px 0 27px;
          position: static;
          line-height: 1em;
          border-right: 1px solid #333;
        }
      }
    }
  }
  .icon-list {
    position: relative;
    width:100px;
    height: 100px;
    padding: 0;
    margin: 0;
    text-decoration: none;
    text-align: center;
      &:before {
      position: absolute;
      top:20px;
      left:22px;
      color: white;
      font-size: 1.5em;
    }
  }
  
  .icon-list.open {
    &:before {
      color: $wn-blue;
    }
  }
  
  .sub-menu, .sub-menu.my-night-dropdown {
    display: none;
    border: 1px solid #000;
    border-top: none;
    padding:10px;
    position: absolute;
    width: auto !important;
    left: 0 !important;
    right:0 !important;
    top: 100px;
    background: white;
    font-size: 12px;
    @include clearfix;
    text-align: left;
    &.right {
      left: 0;
      right:0;
    }
    
    ul {
      margin-left: 0;
      margin: 0;
      padding: 0;
    }
    
    h6 {
      margin: 0;
      padding: 0;
      line-height: 1em;
    }
    
  }

}

.blue {
  color: $wn-blue;
} 

.top-bar .button.logout {
  margin-bottom:1em;
}


// Added Event Bar


.added-event {
  display: none;
  position: relative;
  background: $wn-blue;
  text-transform: uppercase;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  font-family: $header-font-family;
  padding: 1em 0;
  font-size: 12px;
  a {
    color: white;
    text-decoration: underline;
    margin-left: 1em;
  }
}

#header-menu {
  .mobile-menu {
    display: table;
  }
  
  .full-menu {
    display: none;
  }
  
  @media screen and (min-width:700px){
    .mobile-menu {
      display: none;
    }
    
    .full-menu {
      display: table;
    }
  }
}