figure .upb_bookmark_control {
  position: absolute;
  top:0;
  left:0;
  width: 36px;
  text-align: center;
}

.event-box-list article {
  border: 1px solid #000;
  border-top: none;
}

.my-night .padding {
  padding: 0.5em;
}