.partners-section {
  padding-bottom: 2em;
  h3 {
    margin: 1.5em 0 0 0;
  }

  a {
    width:150px;
    height: 103px;
    overflow: hidden;
    float: left;
    margin: 1em 1em 0 0;
    text-decoration: none;
    img {
      width:100%;
      height: auto;
    }
  }
}