.precinct-list {
  padding: 0.9375rem 0;
  article {
    position: relative;
    border-top: 3px solid tomato;
    border: 1px solid #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: white;
    width: 100%;
    display: inline-block;
    //float: left;
    &:before {
      position: absolute;
      width: 100.5%;
      height: 3px;
      background: orange;
      top:-3px;
      left:-1px;
    }
    
    &.precinct_18:before {
      background: $pre-1-feature;
    }
    
    &.precinct_19:before {
      background: $pre-2-feature;
    }
    
    &.precinct_20:before {
      background: $pre-3-feature;
    }
    
    &.precinct_21:before {
      background: $pre-4-feature;
    }
    
    &.precinct_22:before {
      background: $pre-5-feature;
    }
    
    &.precinct_23:before {
      background: $pre-6-feature;
    }
    
    &.precinct_24:before {
      background: $pre-7-feature;
    }
    
    &.precinct_25:before {
      background: $pre-8-feature;
    }
    
    &.precinct_26:before {
      background: $pre-9-feature;
    }
    
    &.precinct_27:before {
      background: $pre-10-feature;
    }
    
    &.precinct_31:before {
      background: $pre-11-feature;
    }
    
    @include clearfix;
    > a {
      width: 100%;
      text-decoration: none;
      h3 {
          margin: 0 0 0 0.5rem;
          line-height: 1.5em;
          padding: 0;
          text-decoration: none;
        }
      img {
        margin-bottom: 0;
        width: 100%;
      }
      p {
         margin: 0.25rem 0 0.25rem 0.5rem;
         line-height: 2em;
      }
      
      div {
        padding: 0.6em 10px 0.5em;
        
      }
      
     &:hover {
       img {
         opacity: 0.6;
       }
     } 
    }
    
     &.open {
        background: #fff;
        padding-bottom: 10px;
        border-bottom: 0;
        z-index: 200;
        > a h1 {
          color: white;
        }
      }
    
    @media only screen and (min-width: 540px) {
      width: 48.7%;
      margin-right: 1%;
      &:nth-of-type(2n){
        margin-right: 0;
      }
    }
    
    @media only screen and (min-width: 790px) {
      width: 31.9%;
      margin-right: 1%;
      &:nth-of-type(2n){
        margin-right: 1%;
      }
      &:nth-of-type(3n){
        margin-right: 0;
      }
    }
      
    
    div.precinct-content {
      display: none;
    }
  }
  .content {
    margin: 0.5rem 0;
  }
  
  .content.current {
    position: relative;
    top:-1px;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #000;
    z-index: 100;
  }
  
}