.precinct-list {
  padding: 0.9375rem 0;
  article {
    position: relative;
    border: 1px solid #000;
    border-top: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: white;
    width: 100%;
    display: block;
    float: left;
    @include clearfix;
    .locationDescription {
      p {
        margin: 0;
        line-height: 1.2em;
        display: block;
        min-height: 30px;
      }
    }
    
    > a {
      width: 100%;
      text-decoration: none;
      h3 {
          margin: 0 0 0 0.5rem;
          line-height: 1.5em;
          padding: 0;
          text-decoration: none;
        }
      img {
        margin-bottom: 0;
        width: 100%;
      }
      p {
         margin: 0.25rem 0 0.25rem 0.5rem;
         line-height: 2em;
      }
      
      div {
        padding: 0.6em 10px 0.5em;
        
      }
      
     &:hover {
       img {
         opacity: 0.6;
       }
     } 
    }
    
     &.open {
        background: #fff;
        padding-bottom: 10px;
        border-bottom: 0;
        z-index: 200;
        > a h1 {
          color: white;
        }
      }
    
    @media only screen and (min-width: 540px) {
      width: 48.7%;
      margin-right: 1%;
      &:nth-of-type(2n){
        margin-right: 0;
      }
    }
    
    @media only screen and (min-width: 790px) {
      width: 31.9%;
      margin-right: 1%;
      &:nth-of-type(2n){
        margin-right: 1%;
      }
      &:nth-of-type(3n){
        margin-right: 0;
      }
    }
      
    
    div.precinct-content {
      display: none;
    }
  }
  .content {
    margin: 0.5rem 0;
    @include clearfix;
    width: 100%;
  }  
  .content.current {
   @include clearfix;
    position: relative;
    top:-1px;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #000;
    z-index: 100;
  }
  
}