html {
  background: #000;
}

.main-content-section {
  padding: 0.9375rem 0;
  background: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
}

header h1 {
  color: white;
}

//bits

.centered-text {
  text-align: center;
}