$wn-blue: #01A4E1;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html {
  background: #000;
}

.main-content-section {
  background: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
  &.no-bottom {
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1.5rem;
  }
  
  &.no-top {
    padding-top: 0;
    margin-top: 0;
    line-height: 1.5rem;
  }
  
}

header h1 {
  color: white;
}

//bits

.centered-text {
  text-align: center;
}

.acf-map {
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	border: #ccc solid 1px;
	margin: 20px 0;
}

.front-map {
  width: 600px;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }

#map-canvas *, #map-canvas *:before, #map-canvas *:after {
    -moz-box-sizing: content-box!important;
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important;  
  }
  #map-canvas img {
      max-width: none;
  }
  #map-canvas label {
      width: auto;
      display: inline;
  }
  
.wn-infoWindow {
  min-width: 300px;
  h4 {
    display:inline;
  }
  img {
    max-width: 100px;
    height: auto;
  }
}

.main-content-blue {
  background: $wn-blue;
}

.offcanvas {
  display: none;
}

//measuring classes
.margin-top {
  margin-top:0.5rem;
}

.margin-top2 {
  margin-top:1rem;
}

.margin-bottom {
  margin-bottom: 0.5rem;
}

.padding-top {
  padding-top: 0.5rem;
}

.padding-bottom {
  padding-bottom: 0.5rem;
}

.no-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.no-margin {
 margin: 0 0 0 0 !important; 
}


//Precint Colors:

$pre-1-feature: #ef3925;
$pre-2-feature: #fcee23;
$pre-3-feature: #c1afd5;
$pre-4-feature: #0baa4e;
$pre-5-feature: #2154a4;
$pre-6-feature: #e0268f;
$pre-7-feature: #f58320;
$pre-8-feature: #606a72;
$pre-9-feature: #824fa0;
$pre-10-feature: #64cbe8;
$pre-11-feature: #b4707d;

.title-box {
  background: #efefef;
}

.color-bar {
  height: 3px;
  margin-bottom: 5px;
    .precinct_18 & {
      background: $pre-1-feature;
    }
    
    .precinct_19 & {
      background: $pre-2-feature;
    }
    
    .precinct_20 & {
      background: $pre-3-feature;
    }
    
    .precinct_21 & {
      background: $pre-4-feature;
    }
    
    .precinct_22 & {
      background: $pre-5-feature;
    }
    
    .precinct_23 & {
      background: $pre-6-feature;
    }
    
    .precinct_24 & {
      background: $pre-7-feature;
    }
    
    .precinct_25 & {
      background: $pre-8-feature;
    }
    
    .precinct_26 & {
      background: $pre-9-feature;
    }
    
    .precinct_27 & {
      background: $pre-10-feature;
    }
    
    .precinct_31 & {
      background: $pre-11-feature;
    }
}

.upb_bookmark_control {
  background: $wn-blue;
  display: block;
  width:100%;
  padding:12px 5px 8px 5px;
  text-align: center;
  color: white;
  font-family: $header-font-family;
  text-decoration: none;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  &:hover {
    background:darken($wn-blue,5%);
    color:white;
  }
}

p b {
  font-family: $header-font-family;
  font-weight: bold;
  color: #000;
}

.button {
  margin: 0.5rem 0;
  padding:12px 5px 8px 5px;
  font-family: $header-font-family;
  background: #000;
  color: white;
}

#wp-submit {
  margin: 0;
  padding: 8px 15px;
  font-family: $header-font-family;
  background: #000;
  color: white;
}

#loginform {
  input {
    top:0;
  }
  label {
    margin-bottom: 0;
  }
}

.button.blue, button.blue {
  background: $wn-blue;
  color: white;
}


form select {
  margin-top: 7px;
  border-radius: 20px;
}


.white-box {
  background: #fff;
  padding: 1em 0.5em;
  margin: 0 0 1em 0;
}

p.larger {
  font-size: 16px;
}